#container1 {
    box-sizing: border-box;
    padding: 5px;
    margin:5px;
    border: 5px solid #5d4000;
    height: 90px; /* 100 - 10 (10 за margin, по 5 от всяка страна)*/
    width: 390px; /*400 - 10*/
}

#container2 {
    box-sizing: border-box;
    padding:5px;
    border: 5px solid #0e5252;
    height: 100px;
}